<div class="dog">

  <h1>Breeds List</h1>

  <div class="list">
    <select class="breeds">
      <% @breeds.map do |breed| %>
          <option value="<%= breed[:value] %>"><%= breed[:name] %></option>
      <% end %>
    </select>
  </div>

  <input type="button" value="Fetch" id="fetchBtn">

  <div class="img">
    <img src="" id="breed_img">
    <input type="hidden" value="" id="apiURL">
  </div>

</div>


<script>

  function callAPI(url){
    $.ajax({
      type: "GET",
      dataType: "json",
      url: url,
      success: function(data){
        var img = data.message;
        $('#breed_img').attr('src',data.message);
      }
    });
  }

  $(document).ready(function() {
    $('.breeds').change(function() {
      console.log('xxxxxxxxxxxxxxx', this.value);
      var apiURL = `https://dog.ceo/api/breed/${this.value}/images/random`;
      $('#apiURL').val(apiURL);
      callAPI(apiURL);
    });

    $('#fetchBtn').click(function() {
      var apiURL = $('#apiURL').val();
      callAPI(apiURL);
    });
  });

</script>