// Place all the styles related to the breeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dog {

  text-align: center;

  img {
    width: 400px
  }
}

.dog .list {
  margin-bottom: 20px;
}
.dog .img {
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 20px;
}
